RewriteEngine on

RewriteRule ^hijab-terbaru.html$ media.php?mod=home [L]

#page-halaman statis
#RewriteRule ^page-([0-9]+)-(.*)\.html$ media.php?mod=page&id=$1 [L]

RewriteRule ^product.html$ media.php?mod=product [L]

RewriteRule ^product-terlaris.html$ media.php?mod=product-terlaris [L]
RewriteRule ^product-promo.html$ media.php?mod=product-promo [L]
RewriteRule ^product-diskon.html$ media.php?mod=product-diskon [L]
RewriteRule ^product-sold-out.html$ media.php?mod=product-sold-out [L]
RewriteRule ^product-ready-stock.html$ media.php?mod=product-ready-stock [L]
RewriteRule ^product-all.html$ media.php?mod=product-all [L]

RewriteRule ^product-page-(.*)\.html$ media.php?mod=product&halaman=$1 [L]
RewriteRule ^product-terlaris-page-(.*)\.html$ media.php?mod=product-terlaris&halaman=$1 [L]
RewriteRule ^product-promo-page-(.*)\.html$ media.php?mod=product-promo&halaman=$1 [L]
RewriteRule ^product-diskon-page-(.*)\.html$ media.php?mod=product-diskon&halaman=$1 [L]
RewriteRule ^product-sold-out-page-(.*)\.html$ media.php?mod=product-sold-out&halaman=$1 [L]
RewriteRule ^product-ready-stock-page-(.*)\.html$ media.php?mod=product-ready-stock&halaman=$1 [L]
RewriteRule ^product-all-page-(.*)\.html$ media.php?mod=product-all&halaman=$1 [L]

RewriteRule ^category-brand-(.*)\.html$ media.php?mod=category-brand&id=$1 [L]
RewriteRule ^category-brand-page(.*)\.html$ media.php?mod=category-brand&halaman=$1 [L]

RewriteRule ^details-product-(.*)\.html$ media.php?mod=product-detail&id=$1 [L]
RewriteRule ^konfirmasi.html$ media.php?mod=konfirmasi [L]
RewriteRule ^status_pemesanan.html$ media.php?mod=lacak-pesanan [L]
RewriteRule ^pesanan.html$ media.php?mod=show-lacakpesanan [L]

#page
RewriteRule ^cara-pemesanan.html$ media.php?mod=cara-pemesanan [L]
RewriteRule ^persyaratan-dan-ketentuan.html$ media.php?mod=persyaratan-dan-ketentuan [L]
RewriteRule ^kebijakan-privasi.html$ media.php?mod=kebijakan-privasi [L]
RewriteRule ^tentang-kami.html$ media.php?mod=tentang-kami [L]
RewriteRule ^contact-kami.html$ media.php?mod=contact-kami [L]


#produk
RewriteRule ^semua-produk-nanaku-hijab-store$ media.php?mod=allProduk [QSA,L]
RewriteRule ^produk-(.*)\.html$ media.php?mod=detailProduk&id=$1 [L]
RewriteRule ^halproduk-(.*)$ media.php?mod=allProduk&halproduk=$1 [L]

#kategori
RewriteRule ^(.*)-kategori-(.*)$ media.php?mod=detailKategori&id=$1 [L]
RewriteRule ^([0-9]+)-kategori(.*)-(.*)\.html$ media.php?mod=detailKategori&id=$1 [L]
RewriteRule ^halprodukKategori-(.*)$ media.php?mod=detailKategori&halprodukKategori=$1 [L]

#subkategori
RewriteRule ^(.*)-subkategori-(.*)$ media.php?mod=detailsubKategori&id=$1 [L]
RewriteRule ^([0-9]+)-subkategori(.*)-(.*)\.html$ media.php?mod=detailsubKategori&id=$1 [L]
RewriteRule ^halproduksubKategori-(.*)$ media.php?mod=detailsubKategori&halproduksubKategori=$1 [L]

#promo
RewriteRule ^promo-nanaku-hijab-store$ media.php?mod=promo [QSA,L]
RewriteRule ^produk-(.*)\.html$ media.php?mod=detailProduk&id=$1 [L]
RewriteRule ^halproduk-(.*)$ media.php?mod=promo&halproduk=$1 [L]

#news

#keranjang-belanja
RewriteRule ^cart$ media.php?mod=keranjangbelanja [L]
RewriteRule ^cart-step(.*)$ media.php?mod=keranjangbelanja&step=$1 [L]

#form
RewriteRule ^prosesCari$ media.php?mod=form_cari [L]
RewriteRule ^prosesCart$ media.php?mod=form_transaksi [L]

#cart
RewriteRule ^addcart&idp=([0-9]+)$ cart.php?mod=basket&act=add&idp=$1 [L]
RewriteRule ^addcart&idp=([0-9]+)&ido=([0-9]+)$ cart.php?mod=basket&act=add&idp=$1&ido=$2 [L]

